a {
	color: #eee;
}

.container-footer li {
	list-style: none;
	margin: 0 20px;
}


.container-footer {
	font-family: 'Montserrat', sans-serif;
	background: #222831;
}

.container-footer h1 {
	color: #eee;
	font-weight: 700;
	text-align: center;
	margin-top: 5px;
}

.container-footer h1 span {
	color: #00ADB5;
	font-weight: 600;
}

.container-footer .content {
	position: relative;
	width: 100%;
	display: grid;
	justify-content: center;
}

.container-footer .content .media {
	width: 100%;
	position: relative;
	margin:  10px 0;
	padding:  0 0 26px 0;
}

.container-footer .content .media::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 100%;
	height: 3px;
	background: #00ADB5;
}

.container-footer .content .media ul {
	display: flex;
	justify-content: center;
}

.container-footer .content .media ul a {
	font-size: 23px;
}

.container-footer .content .link {
	display: flex;
	color:  #eee;
	margin-bottom: 20px;
}

.container-footer .content .link p  {
	margin: 0 30px;
}

.container-footer .content p.copyright {
	text-align: center;
	color: #eee;
	margin-bottom: 15px;
	font-weight: 600;
}

.container-footer .content p.copyright span {
	font-weight: 400;
}