@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,600&family=Poppins:wght@200;300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&family=Roboto+Mono:ital,wght@0,300;0,400;0,600;0,700;1,200&display=swap');


$bg-1: #19376D;
$bg-2: #0B2447;
$fontColor: #A5D7E8;
$bg-font: #576CBC;

.header {
	position: fixed;
	z-index: 999;
	background: none;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	padding: 10px 100px;
	justify-content: space-between;
	align-items: center;
	.logo {
		color: $bg-1;
		font-size: 2em;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		span {
			color: $fontColor;
		}
	}
	.list-menu {
		margin-right: -100px;
		display: flex;
		align-items: center;
		li { 
			list-style: none;
			margin-left: 20px;
			a {
				text-decoration: none;
				color: $bg-2;
				font-weight: 500;
			}
		}
	}
	.auth {
		display: flex;
		align-items: center;
		a {
			text-decoration: none;
			color: $bg-1;
			width: 100px;
			border-radius: 10px;
			font-weight: 500;
			height: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: 5px;
			background: $fontColor;
			border: 2px solid $fontColor;
			transition: all 0.3s;
			&:hover {
				background: $bg-1;
				color: $fontColor;
			}
		}
	}
}