@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,600&family=Poppins:wght@200;300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&family=Roboto+Mono:ital,wght@0,300;0,400;0,600;0,700;1,200&display=swap");

input, label {
  outline: none;
  border: none;
  padding: 10px 15px;
}

.login {
  position: relative;
  width: 100%;
  height: 50%;
}
.login .box {
  position: relative;
  width: 80%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.login .box h2 {
  color: #675D50;
  text-align: center;
}

.login .box .message {
  font-family: 'Poppins', sans-serif;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 400;
  padding: 10px 20px;
  color: #fff;
  margin-top: -10px;
  text-align: center;
  transform: scale(0);
  background: #675D50;
  transition: allw 0.4s;
}

.login .box .message.error {
  margin-top: 5px;
  transform: scale(1);
}

.login .box > div {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  text-align: start;
}
.login .box > div label {
  font-weight: 500;
}
.login .box > div input {
  border-radius: 5px;
  width: 100%;
}
.login .box button {
  font-family: "Montserrat", sans-serif;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 500;
  background: #675D50;
  padding: 10px 23px;
  border-radius: 40px;
  cursor: pointer;
  text-align: center;
}
.login .content {
  margin-top: 30px;
  position: relative;
}
.login .content p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 20px;
  font-size: 0.9em;
  text-align: justify;
}

